<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>Hello, welcome to the homepage</h1>
    {{!-- <h1>Your pokemon's name is {{name}}</h1>
    <ul>
      <li>Your pokemon's weight is {{weight}}</li>
    </ul> --}}
    {{!-- <h1>Could not find information about {{wrongName}} - Is that a new pokemon? Gotta catch 'em all!</h1> --}}
    {{!-- <h1>{{welcome}}</h1>
    <ul>
      {{#each nameList}}
      <li>{{this}}</li>
      {{/each}}
    </ul> --}}
    {{!-- <h1>Your pokemon's name is {{name}}</h1>
    <ul>
      {{#each stats}}
      <li>{{@key}}: {{this}}</li>
      {{/each}}
    </ul> --}}
    <ul>
      {{#each typeNames}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>
