<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>{{message}}</h1>
    <h1>{{name}}</h1>
    <h1>{{errorMessage}}</h1>
    <ul>{{weight}}</ul>
    <ul><li>{{allPokemonName}}</li></ul>
  </body>
</html>
