<!DOCTYPE html>
<html>
  <head>
    <title>DIY Pokedex</title>
  </head>
  <body>
    <h1>Hello, welcome to the online Pokedex!</h1>
    <h1>Your chosen pokemon: {{name}}</h1>
    <ul>
    	<li> Type: {{type}}</li>
    	<li> Height: {{height}}</li>
    	<li> Weight: {{weight}}</li>
    	<li> Evolution: {{evolution}}</li>
      <li> Image: {{image}}</li>
    </ul>
  </body>
</html>
